{
    order cache before reverse_proxy
    cache {
        timing {
            ttl 10s
        }

        metadata_storage in_memory {
            memory_limit 128MB
        }
        storage valkey {
            address valkey:6379
        }
    }
}

:2020 {
    log

    reverse_proxy {
        to localhost:2019
        header_up Host {upstream_hostport}
    }
}

:8080 {
    handle_path /file/* {
        cache
        reverse_proxy fileserver
    }

    handle {
        cache
        reverse_proxy mock-origin:8080
    }
}
