{
    order cache before reverse_proxy
    cache {
        timing {
            ttl 10s
        }

        metadata in_memory 128MB
        entries in_memory 512MB
        entries valkey valkey:6379
    }
}

:2020 {
    log

    reverse_proxy {
        to localhost:2019
        header_up Host {upstream_hostport}
    }
}

:8080 {
    handle_path /file/* {
        cache
        reverse_proxy mock-origin:8080
    }

    handle {
        cache
        reverse_proxy mock-origin:8080
    }
}
