{
    order cache before reverse_proxy
    cache {
        otter
        ttl 120s
    }
}

:8082 {
    handle_path /file/* {
        cache
        reverse_proxy fileserver
    }

    handle {
        cache
        reverse_proxy mock-origin:8080
    }
}
