{
    cache {
        otter
        ttl 120s
    }
}

:8082 {
    handle_path /file/* {
        cache
        reverse_proxy mock-origin:8080
    }

    handle {
        cache
        reverse_proxy mock-origin:8080
    }
}
