{
	debug
	metrics

	cache {
		timing {
			ttl 100s
		}

		metadata in_memory 128MB
		entries in_memory 2GB
		entries valkey localhost:6379
	}
}

http://localhost:8080 {
	route * {
		cache
		reverse_proxy localhost:8085
	}
}
