{
	debug
	metrics

	cache {
		timing {
			ttl 100s
			ttl_splay 10s
		}

        metadata_storage valkey {
            address localhost:6379
        }
        storage valkey {
            address localhost:6379
        }

#		metadata_storage in-memory {
#			memory_limit 268435456 # 256mb
#		}
#		storage in-memory {
#			memory_limit 268435456 # 256mb
#		}
	}
}

http://localhost:8080 {
	route * {
		cache
		reverse_proxy localhost:8085
	}
}
