{
    order cache before reverse_proxy
    cache {
        timing {
            ttl 1m
        }

        metadata_storage otter {
            memory_limit 1GB
        }
        storage otter {
            memory_limit 8GB
        }
    }
}

:2020 {
    log

    reverse_proxy {
        to localhost:2019
        header_up Host {upstream_hostport}
    }
}

:8080 {
    handle_path /file/* {
        cache
        reverse_proxy fileserver
    }

    handle {
        cache
        reverse_proxy mock-origin:8080
    }
}
